* {
    margin: 0; padding: 0;
    color:  white;
    font-family: minion-pro;
   
}
  
.logo{
    font-size: 30px;
    font-family: minion-pro;
    color: white;
}

.logo a{
    color:  white;
    text-decoration: none;
    font-family: minion-pro;
}

.author{
    padding: 3%;
    color: white;
}

body{
    background-image: linear-gradient(#003B8B, #AB0000, #DFB300);
    animation: fadeInAnimation ease 2.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.flexbox{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
}

.grid-left-second{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-left-first{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    height: 90vh;
  
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#highlight{
    font-style: italic;
}

#black{
    color: black;
}

.description{
    margin-top: 3%;
    width: 90%;
    margin: auto;
    padding-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 150%;
}

.description-half{
    width: 60%;
    margin: auto;
    padding-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 150%;
}



.picture{
    border: 10px solid white;
    width: 90%;
    margin: auto;
}

.picture-half{
    border: 10px solid white;
    width: 60%;
    margin: auto;
    margin-bottom: 3%;
}

.notop{
    margin-top: 0px;
}

.title{
    color: white;
    font-size: 5vw;
}

.frame{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    opacity: 0;


    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.special{
    padding-bottom: 0%;
}

.in-view{
    opacity:1;
}

img{
    width: 60vw;
    margin:auto;
}

h3{
    width: 70vw;
    font-size: 25px;
    line-height: 40px;
    padding-bottom: 5%;
    font-weight: 100;
}


/* sets different rules for narrower screens (usually meaning mobile) If
you want to quickly test how this works on your computer, just make your 
browser window really skinny */
@media screen and (max-width: 800px) {

  

    .frame{
        min-height: 100vh;
    }

    .logo{
        font-size: 20px; 
     
    }

    .title{
        font-size: 30px;
    }

    .h3{
        font-size: 10px;
        width: 100vw;
    }

    .img{
        height: 100vw;
    }

    .flexbox{
        flex-direction: column;
       
    }

    .grid-left-second{
        order: 3;
    }

    .grid-left-first{
        width: 60vw;
        margin:auto;
        margin-bottom: 3%;

    }

    .grid-right{
        width: 60vw;
        margin:auto;
        margin-bottom: 3%;
    }

    .grid-left-second{
        width: 60vw;
        margin:auto;
    }
    
    
}